@model LALC.Models.Usuario
@{
    ViewBag.Title = "Registro";
}

@using (Html.BeginForm())
{
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 pb-0 text-center">
                        <div class="mb-md-5 mt-md-4 pb-3">
                            <h2 class="fw-bold mb-2 text-uppercase">Regístrate</h2>
                            <p class="text-white-50 mb-5" style="font-size:20px">Ingresa un nombre de usuario, email y contraseña</p>
                            <div class="form-outline form-white mb-4" style="margin:0px">
                                <input type="text" id="nickname" name="nombre" class="form-control form-control-lg" placeholder="Nickname" />
                                <label class="form-label" for="nickname" style="font-size: 16px">Nombre de Usuario</label>
                            </div>
                            
                            <div class="form-outline form-white mb-4" style="margin:0px">
                                <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="email@example.com"/>
                                <label class="form-label" for="email" style="font-size: 16px">Email</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="mín. 8 caracteres"/>
                                <label class="form-label" for="password" style="font-size:16px">Password</label>
                                <p style="color:orangered">
                                    @TempData["mensaje"]
                                </p>
                            </div>
                            <input type="submit" value="Registrarse" method="Registrar" class="btn btn-default fs-5" style="width: auto; color: white; background: #3a70cf" />

                            <p class="mb-0" style="margin-top:30px;margin-bottom:0px">¿Tienes una cuenta? <a href='@Url.Action("Login", "Auth")' class="text-white-50 fw-bold">Iniciar Sesión</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
}