@model List<LALC.Models.Concepto>
@{
    ViewBag.Title = "SpecificConcepts";
}

<h2>CONCEPTOS</h2>
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-dark fs-5" style="width:18%" onclick="location.href='@Url.Action("Create", "Conceptoes")'">Crear</button>
    </div>
    <div class="col">
        @using (Html.BeginForm())
        {
            @Html.TextBox("TituloC")
            <input style="background: skyblue" class="justify-content-end" type="submit" value="Buscar" />
        }
    </div>
</div>

<style>
    .cards {
        margin-top: 30px;
        max-width: 100px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .flip-card {
        background-color: transparent;
        margin: 0 auto;
        width: 300px;
        height: 200px;
        border: 1px solid #f1f1f1;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }

    /* Style the back side */
    .flip-card-back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
    }
</style>

<div class="cards">
    @foreach (var item in Model)

    {
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <p>@item.Titulo</p>
            </div>
            <div class="flip-card-back">
                <p> @item.Definicion</p>
            </div>
        </div>
    </div>
    }
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
    

